<form *ngIf="cookieId" class="container">
    <h2 class="dialog-title">You are already in a lobby!</h2>
    <button mat-flat-button color="primary" (click)="this.dialogRef.close()">Close</button>
    <button mat-flat-button color="warn" (click)="cancelLobby()">Leave lobby</button>
</form>
<form *ngIf="!cookieId" class="container">
    <h2 class="dialog-title">You left while still in a lobby!</h2>
    <button mat-flat-button color="primary" (click)="continue()">Continue game</button>
    <button mat-flat-button color="warn" (click)="cancelLobby()">Leave lobby</button>
</form>