<form *ngIf="!alreadyInLobby" class="container">
    <h2 class="dialog-title">You have been invited by {{lobbyOwner}}</h2>
    <h2 class="dialog-title">Will you accept?</h2>
    <button mat-flat-button color="primary" (click)="accept()">Yes</button>
    <button mat-flat-button color="warn" (click)="reject()">No</button>
</form>
<form *ngIf="alreadyInLobby" class="container">
    <h2 class="dialog-title">You are already in a Lobby!</h2>
    <button mat-flat-button color="primary" (click)="this.dialogRef.close()">Close</button>
</form>