<div class="top-container">
    <div class="top-left">
        <label for="menu" [ngClass]="['menu-button','background-box', 'button-animation']">
            <img class="menu-icon" src="../assets/images/icons/menu.svg">
            <p>Menu</p>
        </label>

        <div [ngClass]="['weather-container','background-box']">
            <p class="game-info-small-text">Current weather</p>
            <div class="weather-icon-container">
                <p class="weather">{{ information['Weather'] }}</p>
                <img class="weather-icon" src="../assets/images/icons/Sunny.svg">
            </div>
        </div>

        <div [ngClass]="['round-container','background-box']">
            <p class="round">Round {{ information['Round'] }}</p>
            <p class="game-info-small-text">Date {{ information['Date'] }}</p>
        </div>
    </div>

    <div [ngClass]="['background-box']">
        <ul [ngClass]="'resources'">
            <li *ngFor="let resource of resources | keyvalue">
                <div class="game-info-small-text"> {{ resource.key }}</div>
                <div class="rersource-value">{{ resource.value }}</div>
            </li>
        </ul>
    </div>
</div>


<input type="checkbox" class="dp-none" id="menu">
<div ngClass="menu">


    <nav ngClass="menu-nav">
        <button (click)="scrollToElement(advancedStats)">Advanced stats</button>
        <button (click)="scrollToElement(howToPlay)">How to play</button>
        <label for="menu">Return to game</label>
        <a href="">Back to main menu</a>
    </nav>

    <div ngClass="menu-content">

        <div ngClass="menu-content-container" #advancedStats>
            <div ngClass="menu-content-inner-container">
                <div ngClass="menu-content-flex">
                    <fieldset ngClass="select-stat-outer">
                        <legend>Choose county/player</legend>
                        <select onchange="window.alert(this.value)" ngClass="select-stat-inner">
                            <option selected value="0">Pure CSS Select</option>
                            <option value="1"></option>
                            <option value="2">No JS</option>
                            <option value="3">Nice!</option>
                        </select>
                    </fieldset>

                    <div [ngClass]="['menu-category-backdrop', 'chosen-lan']">
                        <img ngClass="background-image" src="../assets/images/länsvapen/Västerbottens_läns_vapen.png">
                        <div>
                            <p>Choosen Län</p>
                            <h2 ngClass="menu-lan">Västerbotten</h2>
                        </div>
                        <div>
                            <p>Owner</p>
                            <h3 ngClass="menu-lan-owner">Beda</h3>
                        </div>
                    </div>

                    <div [ngClass]="['menu-category-backdrop', 'menu-resources']">
                        <h3>Resources</h3>
                        <div ngClass="menu-resources-container">
                            <h4>Total resources</h4>
                            <ul ngClass="menu-resources-list">
                                <li>
                                    <img src="../assets/images/icons/Weapons.svg">
                                    <div>
                                        <h5>Military</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../assets/images/icons/Money.svg">
                                    <div>
                                        <h5>Money</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../assets/images/icons/Metal.svg">
                                    <div>
                                        <h5>Materials</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ngClass="menu-resources-container">
                            <h4>Resources per round</h4>
                            <ul ngClass="menu-resources-list">
                                <li>
                                    <img src="../assets/images/icons/Weapons.svg">
                                    <div>
                                        <h5>Military</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../assets/images/icons/Money.svg">
                                    <div>
                                        <h5>Money</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../assets/images/icons/Metal.svg">
                                    <div>
                                        <h5>Materials</h5>
                                        <p>200</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div ngClass="menu-category-backdrop">
                    <h3 ngClass="buildings-title">Buildings</h3>
                    <div ngClass="buildings-grid">
                        <div ngClass="building-card" style="border-top: 10px solid saddlebrown;">
                            <div ngClass="building-card-top">
                                <div>
                                    <img src="../assets/images/icons/house.svg">
                                    <h4>Building Title</h4>
                                </div>
                                <p>Own: 6</p>
                            </div>
                            <div ngClass="building-card-resources">
                                <h5>Produces per round</h5>
                                <div>
                                    <div>
                                        <img src="../assets/images/icons/Weapons.svg">
                                        <p>0</p>
                                    </div>
                                    <div>
                                        <img src="../assets/images/icons/Money.svg">
                                        <p>100</p>
                                    </div>
                                    <div>
                                        <img src="../assets/images/icons/Metal.svg">
                                        <p>500</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div ngClass="menu-content-container" #howToPlay>
            <div ngClass="menu-content-inner-container">
                <div ngClass="menu-tutorials">
                    <fieldset ngClass="menu-tutorials-subtitles">
                        <legend>Hejsan hoppsan</legend>
                        <ul ngClass="menu-tutorials-list">
                            <li><button (click)="scrollToElement(Tutorial1)">Ababab</button></li>
                            <li><button (click)="scrollToElement(Tutorial2)">Ababab</button></li>
                        </ul>
                    </fieldset>

                    <fieldset ngClass="menu-tutorials-subtitles">
                        <legend>Hejsan hoppsan</legend>
                        <ul ngClass="menu-tutorials-list">
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                            <li><button>Ababab</button></li>
                        </ul>
                    </fieldset>
                </div>
                <div ngClass="menu-tutorials-content-container">
                    <div #Tutorial1 ngClass="menu-tutorials-content">
                        <div>
                            <img src="../assets/images/tutorial-example.png">
                            <div ngClass="menu-tutorials-content-text">
                                <h2>Tutorial example</h2>
                                <div ngClass="menu-tutorials-content-textfield">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus pharetra
                                        consectetur. Sed ut ligula eu magna viverra ultrices. Pellentesque molestie elit
                                        mi,
                                        ac
                                        aliquet dui condimentum eu. Curabitur scelerisque at nunc vel tempor. </p>
                                    <p>Donec faucibus enim in nisi varius porta. Suspendisse potenti. Suspendisse
                                        consectetur,
                                        felis ac cursus pharetra, justo quam pretium mi, sed ornare magna sem ut arcu.
                                        Nam
                                        tristique in ligula in posuere. Fusce vel libero commodo, imperdiet nulla nec,
                                        convallis
                                        urna. Mauris pretium placerat venenatis. Aenean sollicitudin blandit dolor, et
                                        pulvinar
                                        neque interdum eu. Sed nec nulla metus. Integer porta orci ut arcu suscipit, in
                                        ornare
                                        sem maximus. Pellentesque egestas eros non erat luctus efficitur.</p>

                                    <p>In placerat purus sit amet libero congue pulvinar. Proin tristique a arcu ac
                                        laoreet.
                                        Sed non facilisis lorem. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div #Tutorial2 ngClass="menu-tutorials-content">
                        <div>
                            aaa
                        </div>
                    </div>



                    <!-- <div>
                            <img src="../assets/images/tutorial-example.png">
                            <div ngClass="menu-tutorials-content-text">
                                <h2>Tutorial example</h2>
                                <div ngClass="menu-tutorials-content-textfield">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus pharetra
                                        consectetur. Sed ut ligula eu magna viverra ultrices. Pellentesque molestie elit
                                        mi,
                                        ac
                                        aliquet dui condimentum eu. Curabitur scelerisque at nunc vel tempor. </p>
                                    <p>Donec faucibus enim in nisi varius porta. Suspendisse potenti. Suspendisse
                                        consectetur,
                                        felis ac cursus pharetra, justo quam pretium mi, sed ornare magna sem ut arcu.
                                        Nam
                                        tristique in ligula in posuere. Fusce vel libero commodo, imperdiet nulla nec,
                                        convallis
                                        urna. Mauris pretium placerat venenatis. Aenean sollicitudin blandit dolor, et
                                        pulvinar
                                        neque interdum eu. Sed nec nulla metus. Integer porta orci ut arcu suscipit, in
                                        ornare
                                        sem maximus. Pellentesque egestas eros non erat luctus efficitur.</p>

                                    <p>In placerat purus sit amet libero congue pulvinar. Proin tristique a arcu ac
                                        laoreet.
                                        Sed non facilisis lorem. </p>
                                </div>
                            </div>
                        </div> -->

                </div>
            </div>
        </div>

    </div>
</div>

<div class="bottom-container">
    <div class="bottom-top">
        <div class="players">

            <div [ngClass]="{'player' : true, 'player-small' : !player1Active}">
                <div class="player-flex">
                    <h3>{{playerName}}</h3>
                    <div class="player-info">
                        <p>Level {{ information['Level'] }}</p>
                    </div>
                </div>
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner"></div>
                </div>
            </div>

            <div *ngFor="let players of enemyPlayerNames"
                [ngClass]="{'player' : true, 'player-small' : !player2Active}">
                <div class="player-flex">
                    <h3>{{players}}</h3>
                    <div class="player-info">
                        <p>Level 1</p>
                    </div>
                </div>
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner"></div>
                </div>
            </div>
        </div>
        <button *ngIf="player1Active" mat-flat-button color="primary" [ngClass]="'end-turn-button'"
            (click)="endTurn()">End turn</button>
    </div>


    <div *ngIf="showBuildings && player1Active" class="carousel-container">
        <button [ngClass]="['carousel-button', 'button-animation']" (click)="carouselLeft()"><img
                class="carousel-button-left" src="../assets/images/icons/arrow.svg" alt="Left"></button>

        <drag-scroll #carousel class="carousel">

            <button *ngFor="let building of buildings.default" drag-scroll-item
                [ngClass]="['carousel-card', 'button-animation']" (click)="constructBuilding(building)">
                <div class="carousel-card-content">
                    <div class="card-image-container">
                        <div class="type-color" style="background-color: #1acf29;"></div>
                        <img class="type-icon" src="../assets/images/icons/house.svg">
                        <img class="card-image" [src]="building.img">
                    </div>
                    <div class="card-info-container">
                        <div class="card-info">
                            <h3>{{ building.name }}</h3>
                            <p>{{ building.cost.Money }} kr</p>
                        </div>
                        <ul class="card-material-list">
                            <li><img src="../assets/images/icons/Stone.svg">{{ building.cost.BuildingMaterials }}
                            </li>
                        </ul>
                    </div>
                </div>
            </button>

        </drag-scroll>

        <button [ngClass]="['carousel-button', 'button-animation']" (click)="carouselRight()"><img
                class="carousel-button-right" src="../assets/images/icons/arrow.svg" alt="Right"></button>
    </div>


    <div *ngIf="showEnemies && !showBuildings && player1Active" class="attack-menu-container">
        <div class="attack-menu-lan-stats">
            <img class="lans-weapon-background" src="../assets/images/länsvapen/Västerbottens_läns_vapen.png">
            <div class="attack-menu-lan-flex-top">
                <div class="attack-menu-lan">
                    <h3>{{ playerLan }}</h3>
                    <img class="lans-weapon" src="../assets/images/länsvapen/Västerbottens_läns_vapen.png">
                </div>
                <p *ngIf="showAttack">Player 1: Attacking</p>
            </div>
            <div class="attack-menu-lan-flex">
                <div *ngFor="let resource of resources | keyvalue">
                    <h4>{{ resource.key }}</h4>
                    <p>{{ resource.value }}</p>
                </div>
            </div>
        </div>


        <div class="attack-menu-lan-stats">
            <img class="lans-weapon-background" src="../assets/images/länsvapen/Norrbottens_läns_vapen.png">
            <div class="attack-menu-lan-flex-top">
                <div class="attack-menu-lan">
                    <h3>{{ selectedLan }}</h3>
                    <img class="lans-weapon" src="../assets/images/länsvapen/Norrbottens_läns_vapen.png">
                </div>
                <p *ngIf="showAttack">Player 2: Defending</p>
            </div>
            <div *ngIf="selectedLan && !enemy" class="attack-menu-lan-flex">
                <div *ngFor="let resource of getSelectedLanResources() | keyvalue">
                    <h4>{{ resource.key }}</h4>
                    <p>{{ resource.value }}</p>
                </div>
            </div>
            <div *ngIf="selectedLan && enemy" class="attack-menu-lan-flex">
                <div *ngFor="let resource of enemyResources | keyvalue">
                    <h4>{{ resource.key }}</h4>
                    <p>{{ resource.value }}</p>
                </div>
            </div>
        </div>


        <div class="attack-menu-breakdown">
            <div class="attack-menu-breakdown-top">
                <div>
                    <h3>{{ playerLan }}</h3>
                    <p>Chance of victory: {{ playerMinPercentage }}% - {{ playerMaxPercentage }}%</p>
                </div>
                <img class="attack-icon" src="../assets/images/icons/attack.svg">
                <div>
                    <h3>{{ selectedLan }}</h3>
                </div>
            </div>
            <button (click)="attack()" *ngIf="showAttack" mat-flat-button color="primary"
                [ngClass]="'attack-button'">Attack
                {{ selectedLan }}</button>
        </div>
    </div>
</div>