p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.button-animation {
    transition: transform 0.2s, filter 0.2s;
}


.button-animation:hover {
    filter: brightness(0.9);
}

.button-animation:active {
    transform: scale(0.98);
    filter: brightness(0.85);
}

.button-background {
    position: relative;
    top: 20px;
    border: none;
}


.top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.top-left {
    display: flex;

    gap: 20px;
}

.top-container div,
.bottom-container>div div {
    z-index: 2;
    position: relative;
}

.background-box {
    background-color: var(--color-main);
    color: var(--color-fg);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-1);
    backdrop-filter: blur(4px);
    padding: 0px 20px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.resources {
    display: flex;
    gap: 15px;
}

.resources>li {
    padding-right: 15px;
    border-right: 1px solid #9b9b9b;
}


.resources>li:last-child {
    padding: 0;
    border: none;
}

.tutorial-backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: 0.4s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #000000c6;
    backdrop-filter: blur(4px);
    z-index: 10;
}

.tutorial-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.tutorial-item {
    color: var(--color-fg);
    font-size: 22px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.tutorial-item:hover {
    opacity: 0.6;
}

#tutorial:checked~.tutorial-backdrop {
    opacity: 1;
    pointer-events: auto;
}

.tutorial-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 900px;
    height: 700px;
    background-color: transparent;
    border-radius:20px;
    overflow: hidden;
}

#tutorial:checked~.tutorial-box {
    opacity: 1;
    z-index: 11;
}

.close-tutorial {
    color: var(--color-fg);
    position: absolute;
    right: 30px;
    top: 30px;
}

.close-tutorial img {
    height: 40px;
}

.tutorial-box-container {
    background-color: var(--color-main);
    scroll-behavior: smooth;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 110%;
}

.tutorial-button-position {
    display: flex;
    justify-content: center;
    height: 80px;
}

.tutorial-title{
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    padding-top: 30px;
}

.tutorial-text{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.tutorial-text-blue{
    color: #4786FF;
}

.tutorial-content-flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

.tutorial-content-basics{
    width: 400px;
    height: 200px;
    text-align: center;
}

.tutorial-content-basics-text{
    color: white;
    font-size: 20px;
}

.tutorial-content-numbers{
    font-size: 40px;
    font-weight: bold;
}

.tutorial-images{
    padding-top: 40px;
    
}

.barn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    height: 700px;
}

.arrow-left{
    transform: rotate(90deg);

}

.arrow-right{
    transform: rotate(-90deg);
}

.invisible-button{
    border: none;
    background-color: transparent;
    transition: 0.2s;
    
}

.invisible-button:active {
    transform: scale(0.85);
}


.menu-icon {
    width: 23px;
    margin-left: -3px;
    margin-right: 6px;
}

#menu:checked~.menu {
    display: block;
}

.menu {
    display: none;
    animation: showMenu 0.2s linear 1;
    background-color: #0d1633ed;
    backdrop-filter: blur(4px);
    width: 100vw;
    height: calc(100vh - 50px);
    position: absolute;
    padding: 25px 0px;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: inset 0px 250px 250px -80px rgba(0, 0, 0, 0.767);
    color: var(--color-fg);
    z-index: 20;
}

@keyframes showMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menu-nav button,
.menu-nav a,
.menu-nav label {
    font-size: 18px;
    color: var(--color-fg);
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
}


.menu-content {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100vh);
}

.menu-content-container {
    scroll-snap-align: center;
    min-width: 100vw;
    margin-top: -48px;
    padding-top: 48px;
    color: var(--color-fg);
}

.menu-content-container h3 {
    font-size: 22px;
}

.menu-content-inner-container {
    padding: 35px 55px;
    display: flex;
    gap: 25px;
    height: calc(100% - 118px);
}

.menu-content-flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-category-backdrop {
    background-color: #00000046;
    box-shadow: var(--shadow-1);
    border-radius: var(--border-radius-1);
    overflow: hidden;
    padding: 25px 35px;
    width: calc(100% - 70px);
}

.chosen-lan {
    position: relative;
    overflow: hidden;
    min-height: 124px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chosen-lan p {
    color: var(--color-fg-secondary);
    margin-bottom: 8px;
}


.background-image {
    position: absolute;
    width: 100%;
    left: -20%;
    top: -40%;
    transform: rotate(20deg);
    opacity: 0.02;
    pointer-events: none;
}

.menu-resources {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    height: 100%;
}

.menu-resources-container {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-resources-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.menu-resources-list li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-resources-list>li img {
    width: 33px;
}

.menu-resources-list>li h5 {
    color: var(--color-fg-secondary);
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}


.select-stat-outer {
    position: relative;
    width: 20rem;
    height: 64px;
    min-height: 64px;
    padding: 0;
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-1);
    border: 1px solid var(--color-fg-secondary);
}

.select-stat-outer legend {
    margin-left: 10px;
    transform: scale(0.95);
    color: var(--color-fg-secondary);
}


.select-stat-inner {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    position: absolute;
    top: -11px;
    left: 0px;

    font-size: 18px;
    width: 100%;
    padding: 1.2rem 1rem 1.2rem 1rem;
    background: url(/../assets/images/icons/selectArrow.svg) no-repeat right 0.8em center / 1.6em;
    color: var(--color-fg);
    cursor: pointer;
    transition: 0.2s;
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: none;
    }
    option {
        color: inherit;
    }
}

.select-stat-outer:hover,
.select-stat-outer:hover>.select-stat-inner {
    filter: brightness(0.9);
}


.buildings-grid {
    margin: 0px -20px;
    padding: 0px 20px;
    display: grid;
    gap: 30px;
    max-height: 100%;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.buildings-title {
    margin-bottom: 20px;
}

.building-card {
    border-top: solid 10px #828282;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 25px 25px 25px;
    background-color: #00000034;
    border-radius: var(--border-radius-1);
}

.building-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
}

.building-card-top img {
    height: 25px;
}


.building-card-top p {
    color: var(--color-fg-secondary);
}


.building-card-top>div {
    display: flex;
    gap: 10px;
}

.building-card h4,
.building-card h5,
.building-card p {
    margin: 0;
}

.building-card-resources {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.building-card-resources h5 {
    font-weight: 400;
    font-size: 16px;
}

.building-card-resources>div {
    display: flex;
    gap: 40px;
}

.building-card-resources>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.building-card-resources img {
    height: 30px;
}



.menu-tutorials {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 35%;
    min-width: 200px;
    overflow-y: scroll;
    padding-right: 40px;
}

.menu-tutorials-subtitles {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0px;
    border: none;
    border-top: 3px solid var(--color-primary);
}

.menu-tutorials-subtitles legend {
    font-size: 30px;
    font-weight: 500;
    transform: scale(0.85);
}

.menu-tutorials-list li {
    margin-left: 15px;
    font-size: 18px;
}

.menu-tutorials-list>li button {
    border-radius: var(--border-radius-1);
    padding: 20px 15px;
    margin-top: 15px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    text-align: left;
    width: 100%;
    color: var(--color-fg);
    transition: box-shadow 0.3s;
}

.menu-tutorials-list>li button:hover {
    box-shadow: inset 400px 0px 300px -400px rgba(122, 177, 255, 0.393);
}


.menu-tutorials-content-container {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: end;
    height: calc(100% + 120px);
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -82px;
    padding-top: 82px;
}

.menu-tutorials-content {
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    padding-top: 82px;
} 

.menu-tutorials-content>div{
    background-color: #00000046;
    min-width: calc(100% - 136px);
    height: calc(100% - 256px);
    display: flex;
    flex-direction: row;
    padding: 68px;
    border-radius: var(--border-radius-1);
    gap: 50px;
} 


.menu-tutorials-content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.menu-tutorials-content-textfield {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    height: 100%;
    overflow-y: scroll;
}

.menu-tutorials-content img{
    max-width: 50%;
    min-height: 100%;
    object-fit: cover;
}



.weather-container {
    flex-direction: column;
    align-items: baseline;
    gap: 0px;
}

.weather-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-icon {
    width: 27px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.weather,
.round {
    font-size: 16px;
    font-weight: 500;
}

.game-info-small-text {
    font-size: 10px;
    color: #c7c7c7;
}


.round-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2px;
}


.bottom-container {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}


.bottom-top div,
.end-turn-button {
    z-index: 2;
}

.players {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.player {
    background-color: var(--color-main);
    padding: 18px 25px;
    padding-top: 12px;
    color: var(--color-fg);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
    backdrop-filter: blur(4px);
    height: 82px;
    transition: height 0.3s, font-size 0.3s, padding 0.3s, filter 0.3s, transform 0.3s;
}

.player:nth-child(1) {
    border-top: #2b6cf9 solid 10px;
}

.player:nth-child(2) {
    border-top: #ff3f4f solid 10px;
}

.player:nth-child(3) {
    border-top: #f4cf15 solid 10px;
}

.player:nth-child(4) {
    border-top: #18ae45 solid 10px;
}

.player-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.player-small {
    height: 63px;
    font-size: 14px;
    padding: 15px;
}

.player-small>.player-flex {
    gap: 0;
}

.player:hover {
    cursor: pointer;
    transform: scale(0.96);
    filter: brightness(0.9);
}


.player-small>.player-flex>.player-info>img {
    width: 20px;
}

.player-small>.progress-bar-outer,
.player-small>.player-flex>.player-info>p {
    display: none;
}


.progress-bar-outer {
    background-color: #00000040;
    border: solid 3px #00000000;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}


.progress-bar-inner {
    background-color: var(--color-fg);
    width: 50%;
    height: 100%;
}

.end-turn-button {
    height: 63px;
    width: 300px;
    font-size: 16px;
    border-radius: var(--border-radius-1);
}



.carousel-container,
.attack-menu-container {
    height: 180px;
    z-index: 20;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: var(--border-radius-1);
    animation: carouselContainerShow 0.3s linear 1;
    z-index: 1;
}

@keyframes carouselContainerShow {
    0% {
        opacity: 0;
        margin-bottom: -160px;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
    }
}

.carousel {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
}

.carousel-card {
    background-color: var(--color-main);
    color: var(--color-fg);
    border-radius: var(--border-radius-1);
    border: none;
    backdrop-filter: blur(4px);
    height: 180px;
    min-width: 240px;
    margin-left: 20px;
    transition: 0.3s;
    padding: 0;
    overflow: hidden;
}

.carousel-card:first-child {
    margin-left: 0px;
}

.carousel-button {
    background-color: var(--color-main);
    color: var(--color-fg);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-1);
    border: none;
    height: 100%;
    width: 60px;
    transition: 0.3s;
    backdrop-filter: blur(4px);
}

.carousel-button-left {
    width: 33px;
    transform: rotate(90deg);
}

.carousel-button-right {
    width: 33px;
    transform: rotate(-90deg);
}

.carousel-card-content {
    width: 100%;
    height: 100%;
}

.card-image-container {
    background-color: #1f1f1f76;
    width: 100%;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.type-color {
    position: absolute;
    z-index: 0;
    transform: rotate(45deg);
    top: -66px;
    left: -135px;
    width: 120px;
    height: 120px;
}

.type-icon {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 22px;
    filter: drop-shadow(0px 0px 10px #00000031);
}

.card-image {
    height: 110px;
    filter: drop-shadow(0px 0px 30px #fff6de2a) brightness(1.10);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-material-list {
    display: flex;
    gap: 10px;
}

.card-material-list>li {
    display: flex;
}

.card-material-list>li img {
    width: 16px;
}

.card-info {
    display: flex;
    justify-content: space-between;

}

.card-info-container {
    height: 40px;
    padding: 7px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attack-menu-lan-stats {
    background-color: var(--color-main);
    width: 100%;
    border-radius: var(--border-radius-1);
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow-1);
    padding: 10px 25px 25px 25px;
    color: var(--color-fg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}


.attack-menu-lan-flex-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
}

.attack-menu-lan-flex-top>p {
    color: #c7c7c7;
}

.attack-menu-lan-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.attack-menu-lan-flex>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.attack-menu-lan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.attack-menu-lan-stats:nth-child(1) {
    border-top: #2b6cf9 solid 10px;
}

.attack-menu-lan-stats:nth-child(2) {
    border-top: #ff3f4f solid 10px;
}

.lans-weapon {
    height: 55px;
}

.lans-weapon-background {
    width: 280px;
    position: absolute;
    opacity: 0.05;
    left: -12px;
}


.attack-menu-breakdown {
    background-color: var(--color-main);
    width: 1000px;
    border-radius: var(--border-radius-1);
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow-1);
    padding: 15px 25px 15px 25px;
    color: var(--color-fg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.attack-menu-breakdown-top {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.attack-menu-breakdown-top>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.attack-menu-breakdown-top>div>p {
    width: 128px;
}

.attack-icon {
    width: 28px;
}

.attack-button {
    width: 100%;
    height: 45px;
}




@media (max-width: 1140px) {
    .players {
        width: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 55px;
        grid-template-areas:
            "player-big player-big player-big"
            "player-small1 player-small2 player-small3"
        ;
    }

    .player {
        transition: 0s, transform 0.3s, filter 0.3s;
    }

    .player-small>.player-flex>.player-info {
        display: none;
    }

    .player-small h3 {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .player-small {
        overflow: hidden;
    }



    .player {
        grid-area: player-big;
    }

    .player:nth-child(1 of .player-small) {
        grid-area: player-small1;
    }

    .player:nth-child(2 of .player-small) {
        grid-area: player-small2;
    }

    .player:nth-child(3 of .player-small) {
        grid-area: player-small3;
    }
}