@use "ol/ol.css";

:root {
    --color-fg: #F0F0F0;
    --color-main: #1e1e1ed9; 
    
    --border-radius-1: 6px;

    --shadow-1: 0px 4px 10px #0b0b0b6c;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}