@use "ol/ol.css";

:root {
    --color-fg: #F0F0F0;
    --color-main: #1a1a1ad9; 
    
    --border-radius-1: 6px;

    --shadow-1: 0px 4px 10px #0b0b0b6c;
}

.dp-flex {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ol-zoom {
    display: none;
}